<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
</head>

<body>
    <form action="/logout" method="post">
        <p>Logged in as {{ username }}</p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Log out" />
    </form>

    <hr />

    <form action="/todos" method="get">
        <label for="search">Search todos:</label>
        <input type="text" name="query" value="{{ query }}" id="search" />
        <input type="submit" value="Search" />
    </form>

    <hr />

    <h2>Todos</h2>
    <table>
        {% for item in todoitems %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>
                <small>{{ item[4] }}</small>
            </td>
            <td>{{ item[3] }}</td>
            {% if item[2] != max_todostate_id %}
            <td>
                <form action="/todos/evolve/{{ item[0] }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Mark as {{ todostates[item[2]][1] }}" />
                </form>
            </td>
            {% endif %}
            <td>
                <form action="/todos/delete/{{ item[0] }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
            <td>
                <details>
                    <summary>
                        <label for="edit">Edit</label>
                    </summary>
                    <form action="/todos/edit/{{ item[0] }}" method="post">
                        <textarea name="item" id="edit">{{ item[1] }}</textarea>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                        <input type="submit" value="Save" />
                    </form>
                </details>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr />

    <form action="/todos/add" method="post">
        <label for="add">Add new todo:</label>
        <p>
            <textarea name="item" id="add"></textarea>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Add" />
    </form>
</body>

</html>