<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
</head>

<body>
    <p>Logged in as {{ username }}</p>
    <h2>Todos</h2>
    <table>
        {% for item in todoitems %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[3] }}</td>
            <td>
                <form action="/todos/delete/{{ item[0] }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
            {% if item[2] != max_todostate_id %}
            <td>
                <form action="/todos/evolve/{{ item[0] }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Mark as {{ todostates[item[2]][1] }}" />
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <h3>Add new todo</h3>
    <form action="/todos/add" method="post">
        <p>
            <textarea name="item"></textarea>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Add" />
    </form>
</body>

</html>