<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
</head>

<body>
    <p>Logged in as {{ username }}</p>
    <h2>Todos</h2>
    <table>
        {% for item in todoitems %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Add new todo</h3>
    <form action="/todos/add" method="post">
        <p>
            <textarea name="item"></textarea>
        </p>
        <input type="submit" value="Add" />
    </form>
</body>

</html>